.HeaderMain{
  
    font-size: large;
   
    
}
.HeaderLeft
{
   float: left;
   width:50%;
   

   .HButton{
    margin-right:15px;
   }
}
.HeaderRight{ margin: 0;
    float: right;
    margin: 0;
    padding-top: 20px; 
    margin-right:10px; 
    width:15%;
   
}

